body{
    text-align: center;
    background-color: rgb(248, 220, 228);
}
.whole{
    margin:50px;
    padding:50px;
    text-align: center;
}
a{
    background:rgb(245, 158, 182);
    border: 1px solid rgb(245, 158, 182);
    border-radius: 3px;
    color: rgb(250, 83, 130);
    display: inline-block;
    margin: 10px;
    padding: 14px;
}
